<ion-header translucent>
  <ion-toolbar color="primary">


    <ion-title slot="end">
      <h4>القسط </h4>
    </ion-title>
    <ion-buttons (click)="gotohome()">
      <h4>
        <ion-icon name="arrow-round-back" slot="start">
        </ion-icon>
      </h4>

    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="primary">



    <div class="col-md-12" style="direction: rtl">
         

            <ion-card-header style="text-align: center">
          
                <ion-card-title> <h4>قائمة الفواتير </h4></ion-card-title>
              </ion-card-header>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-danger ">
            
            <thead class="text-danger">
              <th>
                <h5>
                  القسط الكلي
                </h5>
              </th>
              <th>
                <h5>
                  المبلغ المدفوع


                </h5>
              </th>
              <th>
                <h5> المبلغ المتبقي

                </h5>
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let money of moneyData">
                <td>
                  <h5>{{money.total_amount}}</h5>
                </td>
                <td>
                  <h5>
                    {{money.amount_paid}}
                  </h5>
                </td>

                <td>
                  <h5>
                    {{money.total_amount- money.amount_paid}}
                  </h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  

    <div class="col-md-12" style="direction: rtl">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-danger ">
            <thead class="text-danger">
              <th>
                <h5>
                  القسط
                </h5>
              </th>
              <th>
                <h5>
                  قيمة الدفع


                </h5>
              </th>
              <th>
                <h5>
                  تاريخ الدفع

                </h5>
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let pay of payData">
                <td>
                  <h5>{{pay.number}}</h5>
                </td>
                <td>
                  <h5>
                    {{pay.amountpaid}}
                  </h5>
                </td>

                <td>
                  <h5>
                    {{pay.date}}
                  </h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </ion-card>
</ion-content>