
    <ion-header translucent >
      <ion-toolbar color="primary" >
        

        <ion-title slot="end"> <h4>الغياب</h4> </ion-title>
        <ion-buttons  (click)="gotohome()">
          <h4>
              <ion-icon name="arrow-round-back" slot="start">
                </ion-icon>
          </h4>
       
        </ion-buttons>

        
      </ion-toolbar>
    </ion-header>

<ion-content>

    
    <div class="col-md-12" style="direction: rtl">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-danger ">
                <thead class="text-danger">
              <th>
                التاريخ
                
               </th>
            </thead>
            <tbody>
              <tr *ngFor="let absent of absentData">
                <td>{{absent.date}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>




</ion-content>
