
  ion-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
       // --ion-background-color: #ff5e00;
    }
   

    ion-item {
      --border-radius: 30px !important;
      padding-left: 10px !important;
      margin-bottom: 10px;
      opacity: 0.7;
      font-size: 0.9em;
      background-color: #fff;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      -color:  rgb(39, 172, 22);
  }
  
  .txt{
    color: black;
  }
  
 