<ion-app>

  <ion-header translucent>

    <ion-toolbar color="primary">


        <ion-title   style="text-align: center;"> 
            <h4>
              القائمة الرئيسية
            </h4>

             </ion-title>
      <ion-buttons slot="end" (click)="gotonotification()"  >
      <h4>
          <ion-icon name="notifications" color="light" ></ion-icon>
      </h4>
      </ion-buttons>

     


      <ion-buttons (click)="logout()" slot="start">
      <h4>  <ion-icon name="arrow-round-back"  > </ion-icon> </h4>
      </ion-buttons>



    </ion-toolbar>
  </ion-header>


  <br>
  <br>



  <ion-content>

    <ion-grid>




      <ion-row>


        <ion-col size-sm style="text-align: center;">
          <img width="75" height="75" src="../../assets/imgs/news.svg" (click)="gotonews()" />
          <p (click)="gotonews()"> الاخبار</p>
        </ion-col>


        <ion-col size-sm style="text-align: center;">
          <img width="75" height="75" src="../../assets/imgs/video-player.svg" (click)="gotovideos()" />
          <p (click)="gotovideos()"> الفيديو</p>
        </ion-col>

        <ion-col size-sm style="text-align: center;">
          <img width="75" height="75" src="../../assets/imgs/student.svg" (click)="gotoprofile()" />
          <p (click)="gotoprofile()"> المعلومات الشخصية</p>
        </ion-col>



      </ion-row>



      <ion-row>
        <ion-col size-sm style="text-align: center;">
          <img width="75" height="75" src="../../assets/imgs/HW.svg" (click)="gotohomeworks()" />
          <p (click)="gotohomeworks()" > الواجبات</p>
        </ion-col>

        <ion-col size-sm style="text-align: center;">
          <img width="75" height="75" src="../../assets/imgs/calendar.svg" (click)="gototables()" />
          <p (click)="gototables()" > الجدول الاسبوعي</p>
        </ion-col>

        <ion-col size-sm style="text-align: center;">
          <img width="75" height="75" src="../../assets/imgs/calendar22.svg" (click)="gotoabsent()" />
          <p (click)="gotoabsent()"> الغيابات</p>
        </ion-col>

      </ion-row>


      <ion-row>

        <ion-col size-sm style="text-align: center;">
          <img width="75" height="75" src="../../assets/imgs/certificate.svg" (click)="gotomarks()" />
          <p (click)="gotomarks()"> الدرجات</p>
        </ion-col>

        <ion-col size-sm style="text-align: center;">
          <img width="75" height="75" src="../../assets/imgs/bus.svg" (click)="gotobus()" />
          <p (click)="gotobus()"> خط النقل</p>
        </ion-col>

        <ion-col size-sm style="text-align: center;">
          <img width="75" height="75" src="../../assets/imgs/transaction.svg" (click)="gotomoney()" />
          <p (click)="gotomoney()" > القسط </p>
        </ion-col>

      </ion-row>

      <ion-row>

          <ion-col size-sm style="text-align: center;">
            <img width="75" height="75" src="../../assets/imgs/behavior.svg" (click)="gotobehavior()" />
            <p (click)="gotobehavior()"> السلوك</p>
          </ion-col>

          <ion-col size-sm style="text-align: center;">
            <img width="75" height="75" src="../../assets/imgs/exam.svg" (click)="gotoexam()" />
            <p (click)="gotoexam()"> الامتحانات</p>
          </ion-col>

          <ion-col size-sm style="text-align: center;">
            <img width="75" height="75" src="../../assets/imgs/holiday.svg" (click)="gotoholiday()" />
            <p (click)="gotoholiday()"> العطل </p>
          </ion-col>
          </ion-row>
         
          <ion-row>

              <ion-col size-sm style="text-align: center;">
                  <img width="75" height="75" src="../../assets/imgs/info.svg" (click)="gotoinfo()" />
                  <p (click)="gotoinfo()"> حول المدرسة</p>
                </ion-col>

                <ion-col size-sm style="text-align: center;">
                    <img width="75" height="75" src="../../assets/imgs/teacher.svg" (click)="gototeacher()" />
                    <p (click)="gototeacher()">  الكادر التدريسي</p>
                  </ion-col>
            </ion-row>

    </ion-grid>

  </ion-content>
</ion-app>